.todo {
	height: calc(100vh - 180px)
}

.todo__item {
	display: flex;
	padding: 10px 20px;
	border-bottom: 1px solid rgba(34, 34, 34, 0.21);
	justify-content: space-between;
}

.todo__item_completed .checkmark {
	text-decoration: line-through;
}

.todo__item_completed label {
	opacity: .5;
}

.todo__item label {
	height: 25px;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.checkmark {
	margin-left: 5px;
}

.todo__item:hover .remove {
	opacity: 1;
}

.remove {
	cursor: pointer;
	opacity: 0;
}
