.add-task {
	padding: 20px;
}

.add-task__inner {
	display: flex;
	padding: 10px;
	border-radius: 10px;
	border: 1px solid rgba(35, 35, 35, 0.2);
}

.add-task__button {
	color: #433ff3;
	padding: 0 10px;
	line-height: 1;
	font-size: 1.5rem;
	cursor: pointer;
}

.input {
	outline: none;
	width: 100%;
	border: none;
}
